<div class="longtext">
  <div id="/icons/flatenvelope2circle.png"></div>
  <h2>A letter to my future self, written on the first day of school</h2>

  <h3>Dear Future-Rebecca,</h3>

  <p>If you are reading this, it means you are likely about to cry vigorously in the shower and/or stay up past 2 AM eating Better Cheddars the night before an assignment is due. In the former case: go ahead, come back when you’re done, and in the latter: stop that now, fool, you are not 16 anymore. </p>

  <p>This is to remind you of why you’re starting this, and how you’re going to survive, maybe even flourish. </p>

  <p>You are probably feeling one of the various facets of perceived ineptitude: frustration, anger, despair, self-doubt, hunger, and drunkenness - those last two you may have outgrown, but I leave them based on College-Rebecca’s shenanigans. You may have found a bug you can’t exterminate, an algorithm you can’t crack, or a misogynist you can’t punch in the face - whatever the Goliath, it is not your first skirmish nor will it be your last. I want to pause and give credence to what you’re going through. There are few things as desolate as the hinterlands of “I can’t.” And honestly, it’s not a landscape you’ve had occasion to traverse very much thus far.</p>

  <p>When you are on the brink of quitting, I want you to remember what it felt like to be at the beginning of things, before the ravages of embitterment, sleep deprivation, and doubt take over. You are doing this because beyond all the financial incentives, free lunches, cushy workspaces, and general respect to be had in the tech field, you wanted to be challenged. There’s a lot of chatter about tech’s “disruptive” powers, and I leave it up to you whether to drink that particular cup of Kool Aid or no, but regardless of its impact, software development will evolve for the rest of your life and you are looking forward to that dynamism. At your core, you cherish learning more than expertise and for that reason you’re moving into a field that you’ll come to love.</p>

  <p>During the year you’ll have studied more than you ever imagined in a subject, which - let’s face it - no one ever thought you’d be any good at. And maybe you’re never going to achieve the slick grace of the technological elite - that’s okay - it’s probably all artifice anyway. You are here because a village of people believed in you, so you should probably honor that and keep slogging along. One day you might make your endeavors seem effortless to some other neophyte in the room. When that happens, I’ll have to write a different letter. Until then, I hope you find pride in the fact that you’re no longer a special genius rainbow unicorn. You’re kind of a mule. That means you’re imbued with all the magical powers of… mule-dom, namely, intractability, dedication, preparedness, and the fortitude to withstand shitting in a field of nettles.</p>

  <p>If I know you, you’re likely terrified of your impending failure. Don’t be. Remember what work felt like when failure wasn’t a tangible threat? Yeah, it’s better this way - you’re going to fail every goddamn day of your life, so do what you can to prevent a belly flop and when that inevitably happens, fail again with a little more finesse.</p>

  <p>Finally, when you don’t feel like a good programmer, be a good teammate. Sometimes if you can’t be competent in one aspect of your life, you can strive for “not cruel” in another. People who can’t manage this have a bad day at work and come home to hit their kids. Let the success of your classmates offer you buoyancy because their growth, like your own, will be hard-won.</p>

  <p>Be hopeful. Stay humble. You’re gonna be okay.</p>

  <p>With heart in hand,<br>
  First-Day-Of-School-Rebecca</p><br>
</div>
