<div class="general-content">
  <h2>A bit about me</h2>
  <div>
  <p>“Understand that when the beast within you</p>

  <p>succeeds again in paralyzing into unending</p>

  <p>incompletion whatever you again had the temerity to<p>
  try to make

  <p>its triumph is made sweeter by confirmation of its</p>

  <p>rectitude. It knows that it alone</p>
  <p>knows you.”</p>

  <p>~Frank Bidart</p>
  </div>
</div>
