<h2>Here are some cute, fluffy animals</h2>

<div>

  <img src="http://justcuteanimals.com/wp-content/uploads/2014/03/cute-animal-pictures-tiny-bay-rabbit.jpg" alt="bunny"/>
  <br>
  <img src="http://2.bp.blogspot.com/-YYTvotJ2WbU/UCN2CcG4rOI/AAAAAAAAUxg/2cZicSZJnU4/s1600/cute+animal+happy+life+(11).jpg" alt="puppy"/>

</div>
