<div class="avatar">
  <img src="headshotsqr.jpg" alt="avatar"/>
</div>

<div class = "col1">
  <div class="blogposts">
    <h3>Recent Blog Posts</h3>
    <ul>
      <% @posts.each do |post| %>
         <li><a href="<%= post.url %>">
           <%= post.title.capitalize.gsub("Post", "Post ") %>
           <span class="postdate"><%= post.date %> </span></a></li>
      <% end %>
    </ul>
  </div>

  <!-- Original from non paginate -->
  <!-- <%# @posts.each do |post| %>
    <%#= post.content %>
  <%# end %> -->

  <% @posts.each do |post| %>
    <%= post.content %>
  <% end %>

  <p>next</p>
  <p>back</p>
</div>
