<head>
  <title>Rebecca's Blog</title>
</head>
<body>
  <header>
    <a href="/">Home</a>
    <a href="/about-me">About Me</a>
    <a href="/cute-pictures-of-animals">Cute Animals</a>
  </header>
  <hr>
    <%= yield %>
  <hr>
  <footer>
    <a href="https://twitter.com/r_l_mark"><img src="https://cdn1.iconfinder.com/data/icons/simple-icons/4096/twitter-4096-black.png" alt="twitter" height="20" width="20"/></a>
  </footer>
</body>


<!-- <html>
<head>
  <title>Rebecca</html>
</head>
<body>
  <h1>Hi!</h1>
  <%= yield %>
</body>
</html> -->
