/*******************************/
/*         LAYOUT.ERB          */
/*******************************/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  padding-bottom: 8%;
}

header {
  background-color: #60C7AD;
  width: 100%;
  /*height: 100vh;*/
  height:730px;
}

.bigtext {
  text-align: center;
  margin: 22vh auto;
}

.col {
  display: inline-block;
  margin: 0;
  width: 20%;
}

.bigtext h1 {
  font-size: 8em;
  margin-top: 25px;
}

.bigtext h4 {
  margin: 0;
  padding-bottom: 0.75em;
}

/*Horizontal Lines*/
/******************/

.bigtext:before {
  content: "";
  display: block;
  margin: 55px auto -55px auto;
  width: 60%;
  height: 1px;
  background-color: white;
}

.bigtext .tagline:before {
  content: "";
  display: block;
  margin: 10px auto 10px auto;
  width: 60%;
  height: 1px;
  background-color: white;
}

/*Scroll down*/
/********/

.downbutton img {
  height: 40px;
  width: 40px;
  }

.downbutton {
    height: 40px;
    width: 40px;
    margin: 0 auto;
}

/*Footer*/
/********/

footer {
  background-color: #FF8958;
  height: 2em;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-top: 0.65em;
  display: block;
  clear: both;
  visibility: hidden;
}

.to_top {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  padding: 5px;
  margin: 0 auto;
  margin-top: -55px;
  background-color: #FF8958;
}

footer .to_top img {
  height: 15px;
  padding: 10px 0;
  margin: 0 15%;
  /*padding-top: 10px;*/
}

footer a {
  color: white;
  margin-left: 7%;
}

/*Navbar*/
/********/

nav ul {
  list-style: none;
  margin: 0;
  padding: 0.75em 0.5em;
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 0 2em;
  color: white;
  font-size: 1.1em;
}

nav ul li a:hover {
  text-shadow: 0 0 5px white;
}

/*All pages body*/
/****************/

.container {
  margin: 0;
  padding: 0;
}

/**********************************/
/*         GENERAL PAGES          */
/**********************************/

/*Read more function*/
/********************/

.longtext {
  overflow: hidden;
  /*width: 100%;*/
  margin: 0 8%;
}

a.readmore-js-toggle {
  padding: 1em 8%;
  font-size: 1.2em;
}

/*Defaults*/
/**********/

p {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 4em;
  margin: 0;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.15em;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: gray;
    text-align: center;
    font-size: 1.45em;
    margin: 0;
    padding: 1em 0 0 0;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

h4 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 1.25em;
  margin-top: 0.5em;
}

a {
    text-decoration: none;
    color: #C30062;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

/************************************/
/*         HOME/INDEX PAGE          */
/************************************/

/*.avatar img {
  border-radius: 50%;
  margin-top: -110px;
  height: 150px;
  width: 150px;
  border: 10px solid white;
  float: left;
}*/

div.col1 {
  width: 100%;
  margin-bottom: 50px;
}

.col1 h2:first-of-type {
  padding: 0 0 0 15%;
}

div.blogposts {
  width: 100%;
  /*height: 100vh;*/
  min-height: 875px;
  background-color: #ADD3CE;
  padding-bottom: 2em;
  margin: 0 0 2em 0;
  }

.largename {
  padding: 3em 7em;
}

.blogposts h1 {
  font-style: 'Raleway', sans-serif;
  color: white;
  text-align: center;
  padding: 0.3em;
  margin: 0;
  border-bottom: solid white 1px;
  border-top: solid white 1px;
}

.blogposts a {
  color: white;
}

.icon {
  height: 50px;
  width: 50px;
}

.blogposts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blogposts li {
  padding: 1em 10%;
  text-align: center;
}

/*.blogpost a:hover {
  color: #C30062;
}*/
