/*******************************/
/*         LAYOUT.ERB          */
/*******************************/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  padding-bottom: 8%;
}

header {
  /*background-color: #00C3A5;*/
  background: radial-gradient(circle at 2.00% 24.06%, #5aafc4, transparent 77%),
  radial-gradient(circle at 34.28% 88.21%, #1da369, transparent 100%),
  radial-gradient(circle at 97.58% 4.09%, #1d9186, transparent 100%),
  radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
  width: 100%;
  height: 360px;
}

.bigtext {
  text-align: center;
  margin: 35 auto;
}

.col {
  display: inline-block;
  margin: 0;
  width: 20%;
}

.bigtext h1 {
  font-size: 8em;
  margin-top: 25px;
}


.bigtext h4 {
  margin: 0;
  padding-bottom: 0.75em;
}

/*Footer*/
/********/


footer {
  background-color: #FF8958;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-top: 0.65em;
  display: block;
  clear: both;
}

.to_top {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  padding: 5px;
  margin: 0 auto;
  margin-top: -55px;
  background-color: #FF8958;
}

footer .to_top img {
  height: 15px;
  padding: 10px 0;
  margin: 0 15%;
  /*padding-top: 10px;*/
}

footer a {
  color: white;
  margin-left: 7%;
}

/*Navbar*/
/********/

nav ul {
  list-style: none;
  margin: 0;
  padding: 0.75em 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 0 2em;
  color: white;
  font-size: 1.1em;
}

nav ul li a:hover {
  text-shadow: 0 0 5px white;
}

/*All pages body*/
/****************/

.container {
  margin: 0;
  padding: 0 8%;
}

/**********************************/
/*         GENERAL PAGES          */
/**********************************/


p {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 4em;
  margin: 0;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.15em;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: gray;
    text-align: center;
    font-size: 1.45em;
    margin: 0;
    padding: 1em 0 0 0;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

h4 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 1.25em;
  margin-top: 0.5em;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

/************************************/
/*         HOME/INDEX PAGE          */
/************************************/

.avatar img {
  border-radius: 50%;
  margin-top: -110px;
  height: 150px;
  width: 150px;
  border: 10px solid white;
  float: left;
}

div.col1 {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 2em;
}

.col1 h2:first-of-type {
  padding: 0 0 0 15%;
}

div.blogposts {
  width: 30%;
  background-color: #F1F1F1;
  float: right;
  padding-bottom: 2em;
  margin: 0 0 2em 2em;
  }

.blogposts h3 {
  background-color: #C30062;
  color: white;
  text-align: center;
  padding: 0.25em;
  margin: 0;
}

.postdate {
  float: right;
}

.blogposts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blogposts li {
  padding: 1em 2em 0 2em;
}

/*.blogpost a:hover {
  color: #C30062;
}*/
