<h2>An open letter to my orange grove, or lessons from week 2</h2>

<h3>Dear Orange Grove,</h3>

<p>I didn’t mean to make you barren. Sorry about that! This is not how I would have had it turn out. It’s not you, it’s me. When I programmed you, I took such care in naming your little machines of words in such a way to invoke your potential loveliness - to craft the permutations of your life’s stages. Instead, you stubbornly refuse to produce fruit and somehow never age past 4. You’re kind of grotesque. My bad. Hey, at least we moved beyond the stage wherein you sat, stillborn on the screen, printing out “Your grove has died.” That was a low point.</p>

<p>99% of the time when I’m programming, it doesn’t work. How do I feel about this? Well, I’m finding a small degree of peace by putting one foot in front of the other. I can’t say I expected to be Alan Turing from the beginning (or ever.) Poetry and programming, for all the parallels to be made as the “language which makes,” are two vastly different disciplines. Programming will continue to be an uphill battle. However, week 2 is teaching me that my peers are both kind and humble, and that every time I seek out help, I’m actually learning from the problem solving skills of people who have probably written themselves into a Gordian knot at least once before.</p>

<p>Postscript 1 day later: Fuck yeah orange grove! You grew those 54 phantasmic oranges during your 10th year of existence. Go you! I picked one from each unbroken tree and they tasted like victory.</p>
