<div class="longtext">
  <div id="/icons/Robotflat.png"></div>
  <h2>On not being a robot</h2>
  <p> It has been 3 weeks, 4 days, 10 hours, 40 minutes and 44.55 seconds since I started my code adventure with Ada. I know this because I programmed a method to mark the time passed, but the theme of this post will be continuity, not the seemingly manichean division between my life before and after I crossed paths with the tech sphere. Perhaps, like me, you are an errant humanities major, artist manqué, critical critic, radical feminist, or disenchanted educator. Maybe you’re thinking about learning something so laughably foreign that it could leave you destitute in one breathless swoop. You might, understandably, be doubtful of your skill-set, unsure if your past experience and training carry even a feather’s worth of weight. How dare you, the untutored fluff of less well-funded disciplines, encroach on the hallowed space of technology? </p>

  <p>Well, people of all manners of self-identification, here I am writing from the trenches of such a sea change, and the answer is: I have no answers. Yet. </p>

  <p>What I do have after all my apprehensions are let out is an empty box, save for hope. Therefore, as a novice programmer, I offer up its contents. May I never loose touch with them.</p>

  <p>1. I hope I continue celebrating success after struggle - that I’m never blasé about my creations. These days, when I finally write something which works, I’m genuinely ecstatic! I aim not to become inured to the moments of relief and joy which sometimes (rarely) punctuate my hours. As I learn more, I hope their tempo increases with exuberance intact. </p>

  <p>2. I hope to retain the experience of programming as a little bit of magic. Yes, one day I will know what a processor does and what HTTP is and a whole bunch of other things that are beyond the horizon of my current imagination. But even as more technical machinations are revealed in the light of their science, I hope there are still things which inspire the sense of being at the edge of an ocean. We murder to dissect, Wordsworth says. I don’t want that to be my method of comprehension. </p>

  <p>3. I hope to avoiding becoming a robot. Which is to say, I will take the ability to orchestrate others’ edification, emancipation, community, and convenience as the benchmark of technology. I take joy in finding utterly human ways to relate to the mysterious-gremlin-box known as my computer.  </p>

  <p>Will I eventually learn to parrot and parse the arcane technobabble of the humans-as-computer crowd? Of course. I will play that game and I will play it to win. Will I secretly build a universe of inspired language around them? I hope so.</p><br>
</div>
